.p-accordion {
    background-color:#038AE6 !important;
    color: white !important;
}

.p-accordion-tab {
    background-color:#038AE6 !important;
    color: white !important;
}

.p-accordion-header {
    background-color:#038AE6 !important;
    color: white !important;
}